[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Ivan270/someShop-client-gateway.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Ivan270/someShop-orders-ms.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Ivan270/someShop-products-ms.git
